.container-layout {
  padding-top: 100px;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  position: relative;
  background-image: url("./assets/images/bg-pattern-top.svg"),
    url("./assets/images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -53% 170%, 128% -114%;
}

.attribution {
  font-size: 11px;
  margin-top: 80px;
  text-align: center;
  color: hsl(193, 38%, 86%);
}
.attribution a {
  color: hsl(193, 38%, 86%);
}

.container-pattern-bottom {
  position: absolute;
  bottom: -525px;
  right: -180px;
}

.container-pattern-top {
  position: absolute;
  top: -513px;
  left: -295px;
}

@media only screen and (max-width: 426px) {
  .container-layout {
    padding-left: 16px;
    padding-right: 16px;
    background-position: 119% 149%, 16% -120%;
  }
}
